<div class="container mt-3">
    <h2>Formulario de Veterinario</h2>


    <form #veterinarioForm="ngForm" (ngSubmit)="onSubmit(veterinarioForm)">
  
      <div class="mb-3">
        <label for="cedula" class="form-label">Cédula:</label>
        <input type="number" class="form-control" id="cedula" value = "{{veterinario.cedula}}" [(ngModel)]="veterinario.cedula" required>
      </div>
  
      <div class="mb-3">
        <label for="nombre" class="form-label">Nombre:</label>
        <input type="text" class="form-control" id="nombre" name="nombre" value="{{veterinario.nombre}}" [(ngModel)]="veterinario.nombre" #nombre="ngModel" required>
      </div>
  
      <div class="mb-3">
        <label for="apellido" class="form-label">Apellido:</label>
        <input type="text" class="form-control" id="apellido" name="apellido" value="{{veterinario.apellido}}" [(ngModel)]="veterinario.apellido" #apellido="ngModel" required>
      </div>
  
      <div class="mb-3">
        <label for="password" class="form-label">Password:</label>
        <input type="password" class="form-control" id="password" name="password" value="{{veterinario.password}}" [(ngModel)]="veterinario.password" #password="ngModel" required>
      </div>
  
      <div class="mb-3">
        <label for="foto" class="form-label">Foto (URL):</label>
        <input type="text" class="form-control" id="foto" name="foto" value="{{veterinario.foto}}" [(ngModel)]="veterinario.foto" #foto="ngModel">
      </div>
  
      <div class="mb-3">
        <label for="especialidad" class="form-label">Especialidad:</label>
        <input type="text" class="form-control" id="especialidad" name="especialidad" value="{{veterinario.especialidad}}" [(ngModel)]="veterinario.especialidad" #especialidad="ngModel" required>
      </div>
  
      <button type="submit" class="btn btn-primary" [disabled]="!veterinarioForm.form.valid">Enviar</button>
    </form>
  </div>