<app-header></app-header>
<div id ="linea"></div>

<br>
<h1>Una Experiencia Inolvidable</h1>
<br>
<h2>Ofrecemos y distribuimos productos agropecuarios de alta calidad, incluyendo medicamentos y alimentos, para satisfacer las necesidades del campo, los animales y la salud animal</h2>>

<br>
<div class="banner-container">

    <div class="part1">
        <h3>¿Por que elegirnos?</h3>
        <p>En nuestra veterinaria, la cual cuenta con más de 30 años de experiencia, cuidamos a tus mascotas con amor y sabiduría. 
            Tu confianza es nuestra prioridad, ofreciendo atención especializada para garantizar
             su salud y felicidad. Construyamos juntos un futuro lleno de bienestar para tus fieles compañeros.</p>
             <br>
        <button class="custom-button">Ver Video</button>

    </div>


    <div class="part2">

        <img src="/assets/img/gatomini.png" alt="gato bebe" class="gatico">
        <button class="play-button">
            <i class="fa-regular fa-circle-play"></i>
        </button>
    </div>
</div>

<div class="responsabiliad">
    <br><br><br><br>
    <h3>Nuestro compromiso social</h3>
</div>


























<app-footer></app-footer>
