<app-header></app-header>


<div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Edad</th>
                <th>Género</th>
                <th>Cédula</th>
                <th>Correo</th>
                <th>Opciones</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let usuario of ListaUsuario">
                <td>{{ usuario.nombre }}</td>
                <td>{{ usuario.edad }}</td>
                <td>{{ usuario.genero }}</td>
                <td>{{ usuario.cedula }}</td>
                <td>{{ usuario.correo }}</td>
                <td><a [routerLink]="['/perfil-usuario',usuario.id]"><i class="fa-solid fa-circle-info"></i>Ver mascotas</a></td>
                <td>
                    <a class="btn btn-info" [routerLink]="['/modificar-usuario',usuario.id]">Editar</a>
                    <a class="btn btn-danger" [routerLink]="'/cliente/delete/' + usuario.id">Eliminar</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
