<app-header></app-header>

<br>
<br>
<div class="laboratorio-container">
    <h2>Análisis de Laboratorio</h2>
    <p>En las clínicas <span class="clinic-name">KittyClinic</span> puedes encontrar un amplio catálogo de análisis clínicos veterinarios. Realizamos análisis de sangre, de orina y deposiciones y análisis microbiológicos. La mayoría de los resultados de las pruebas están disponibles en 24 horas. Algunas de las pruebas pueden realizarse en la clínica, especialmente cuando los resultados se necesitan de inmediato o en casos de emergencia.</p>
    
    <div class="appointment-section">
      <button class="appointment-button">Pide Cita</button>
    </div>
    
    <p class="footer-text">¿Tu mascota necesita hacerse un análisis de laboratorio?</p>
  </div>
  
  <div class="analysis-info">
    <div class="analysis-info-container">
      <div class="analysis-info-content">
        <h2>¿Qué tipo de análisis se realiza en una clínica veterinaria?</h2>
        <p>Los análisis clínicos veterinarios engloban una serie de pruebas que ayudan a nuestros veterinarios a establecer un diagnóstico certero.</p>
        <p>Los análisis de sangre para mascotas sirven para monitorizar la salud de los órganos internos, además de ayudar a determinar con precisión, seguridad y rapidez las causas de sus enfermedades. Estos también permiten al veterinario supervisar el progreso de los tratamientos.</p>
        <p>También existen otros tipos de analíticas para mascotas que ayudan a confirmar o descartar otras enfermedades comunes en perros y gatos, como los análisis de orina y análisis hormonales.</p>
        <p>Por otro lado, los test de diagnósticos inmediatos también permiten una actuación rápida por parte del veterinario. En nuestras clínicas <span class="clinic-name">KittyClinic</span> disponemos de equipos de hemograma y bioquímica de última generación con los que podemos disponer de los resultados en 15-20 minutos.</p>
      </div>
      <div class="analysis-image">
        <img src="https://media.istockphoto.com/id/1213006106/es/foto/bi%C3%B3logos-trabajando-con-microscopio.jpg?s=1024x1024&w=is&k=20&c=FdzbCmxaQWi80urd_9Ibwiru3EVnmNZvBS1HlgQ5SgY=" alt="Análisis veterinario">
      </div>
    </div>
  </div>
  <div class="when-analysis-needed">
    <h2>¿Cuándo necesitas hacer un análisis a tu mascota?</h2>
    <p>Tu mascota necesitará realizar un análisis de sangre o cualquier otro tipo de análisis cada vez que el veterinario considere que ayudará en el diagnóstico de un problema médico.</p>
    <ul>
      <li>Fiebre.</li>
      <li>Estado letárgico.</li>
      <li>Mal color o pálido.</li>
      <li>Pérdida significativa de peso o pelo.</li>
      <li>Más sed o micción de lo habitual.</li>
      <li>No comer ni beber durante más de 24 horas.</li>
      <li>Vómitos o diarrea.</li>
    </ul>
  </div>