<app-header></app-header>

<div *ngIf="isAdmin">

  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-sm-12 col-md-8 col-lg-6"> 
        <div class="card">
          <div class="card-header">
            <h2>Formulario de Veterinario</h2>
          </div>
          <div class="card-body">
            <form #veterinarioForm="ngForm" (ngSubmit)="onSubmit(veterinarioForm)">
              <div class="form-group">
                <label for="cedula">Cédula:</label>
                <input type="number" class="form-control" id="cedula" name="cedula" [(ngModel)]="veterinario.cedula" required>
              </div>
              
              <div class="form-group">
                <label for="nombre">Nombre:</label>
                <input type="text" class="form-control" id="nombre" name="nombre" [(ngModel)]="veterinario.nombre" required>
              </div>
              
              <div class="form-group">
                <label for="apellido">Apellido:</label>
                <input type="text" class="form-control" id="apellido" name="apellido" [(ngModel)]="veterinario.apellido" required>
              </div>
  
              <div class="form-group">
                <label for="correo">Correo:</label>
                <input type="email" class="form-control" id="correo" name="correo" [(ngModel)]="veterinario.correo" required>
              </div>
  
              <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" class="form-control" id="password" name="password" [(ngModel)]="veterinario.password" required>
              </div>
  
              <div class="form-group">
                <label for="foto">Foto (URL):</label>
                <input type="text" class="form-control" id="foto" name="foto" [(ngModel)]="veterinario.foto">
              </div>
  
              <div class="form-group">
                <label for="especialidad">Especialidad:</label>
                <input type="text" class="form-control" id="especialidad" name="especialidad" [(ngModel)]="veterinario.especialidad" required>
              </div>
              <div class="buttoncontainer">
                <button type="submit" class="btn custom-btn" [disabled]="!veterinarioForm.valid">Enviar</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<div *ngIf="!isAdmin">
    <h1>
        Primero tienes que iniciar sesión
    </h1>
</div>

