<app-header></app-header>

<div id="linea"></div>

<br><br>
<h2 class="servi">Servicios</h2>
<p class="parrafo">En KittyClinic, nos dedicamos a brindar atención integral y de alto estándar a tus mascotas. 
    Nos enfocamos en preservar su salud y felicidad, 
    así como en facilitar su recuperación en caso de enfermedad. 
    Contamos con un equipo profesional altamente capacitado 
    y modernas instalaciones totalmente equipadas para garantizar el mejor cuidado posible para tus compañeros peludos.</p>


<div class="servicios">
    <h2 id="cirugias">Cirugías</h2>
    <p>En nuestra clínica veterinaria, 
        ofrecemos una amplia gama de cirugías tanto generales como especializadas 
        para garantizar el cuidado óptimo de tu mascota. Nuestro equipo quirúrgico altamente cualificado
         y nuestras instalaciones modernas y equipadas nos permiten 
         realizar procedimientos con los más altos estándares de seguridad y precisión. 
         Desde cirugías de rutina, como esterilizaciones y extracciones dentales, hasta intervenciones más complejas, 
         estamos comprometidos a proporcionar el mejor cuidado quirúrgico para nuestros pacientes peludos. 
         Además, antes y después de cada procedimiento, brindamos un seguimiento cercano
         y cuidados postoperatorios para garantizar una pronta recuperación y bienestar para tu mascota.</p>
         <img src="/assets/img/gatoenfermero.png" alt="gato enfermero" class="gatoCiru">
         <br><br><br><br><br><br>


    <h2 class="tituimpar" id="examenes">Exámenes</h2>
    <p id="impar1">Nuestra veterinaria ofrece una amplia gama de exámenes diagnósticos 
        para detectar y tratar problemas de salud en tus queridas mascotas. Realizamos exámenes físicos completos, 
        análisis de sangre y perfiles bioquímicos, radiografías, ecografías, análisis de heces y de orina, 
        así como pruebas de enfermedades infecciosas. Con un equipo veterinario altamente capacitado, 
        nos dedicamos a proporcionar un diagnóstico
         preciso y un tratamiento efectivo para garantizar el bienestar de tus compañeros peludos.</p>
         <img src="/assets/img/gatopeluquero.png" alt="gato peluqeuro" class="gatoPelu">
         <br><br>

    <h2 id="laboratorio-clinico">Laboratorio Clínico</h2>
    <p id="derecha">En nuestra veterinaria, contamos con un laboratorio clínico completo equipado con tecnología de 
        vanguardia para realizar análisis precisos y rápidos. Ofrecemos una variedad de servicios, incluyendo análisis de sangre,
         de orina, cultivos microbiológicos, pruebas de diagnóstico rápido y análisis de heces. 
         Nuestro compromiso es proporcionar resultados confiables y oportunos, 
         facilitando el proceso de diagnóstico y tratamiento para garantizar la salud y el bienestar de tus mascotas.

    </p>

    <h2 class="tituimpar" id="urgencias">Urgencias</h2>
    <p id="impar2">Contamos con un servicio de urgencias completo para realizar análisis precisos y rápidos. 
        Nuestro equipo está disponible las 24 horas del día para atender 
        cualquier situación crítica que pueda surgir con tus mascotas, 
        brindándoles la atención necesaria en momentos de emergencia. 
        Tu tranquilidad y la salud de tus compañeros peludos son nuestra máxima prioridad..</p>

        <img src="/assets/img/examenes.png" alt="examenes" class="examenes">

    <h2 id="peluqueria">Peluquería</h2>
    <p>En nuestra veterinaria, ofrecemos una amplia gama de servicios de peluquería y
         cuidado estético para mantener a tu mascota siempre bella y saludable. Desde baños profesionales y 
         cortes de pelo especializados hasta cepillado y desenredo, nuestro equipo de peluqueros expertos está dedicado 
         a proporcionar un cuidado estético de alta calidad que resalte la belleza natural de tu compañero de cuatro patas.
          Además, nos esforzamos por crear un ambiente tranquilo y
           relajado donde tu mascota se sienta cómoda y segura durante su visita a nuestra peluquería.
            Confía en nosotros para mantener a tu mascota luciendo su mejor aspecto y
         disfrutando de una experiencia de cuidado estético que cuida tanto su apariencia como su bienestar general.</p>
</div>



<app-footer></app-footer>