<app-header></app-header>

<div id="linea"></div>

<br><br>
<h2 class="servi">Servicios</h2>
<p class="parrafo">En KittyClinic, nos dedicamos a brindar atención integral y de alto estándar a tus mascotas. 
    Nos enfocamos en preservar su salud y felicidad, 
    así como en facilitar su recuperación en caso de enfermedad. 
    Contamos con un equipo profesional altamente capacitado 
    y modernas instalaciones totalmente equipadas para garantizar el mejor cuidado posible para tus compañeros peludos.</p>


<div class="servicios">
    <h2 id="cirugias">Cirugías</h2>
    <p>En nuestra clínica veterinaria, 
        ofrecemos una amplia gama de cirugías tanto generales como especializadas 
        para garantizar el cuidado óptimo de tu mascota. Nuestro equipo quirúrgico altamente cualificado
         y nuestras instalaciones modernas y equipadas nos permiten 
         realizar procedimientos con los más altos estándares de seguridad y precisión. 
         Desde cirugías de rutina, como esterilizaciones y extracciones dentales, hasta intervenciones más complejas, 
         estamos comprometidos a proporcionar el mejor cuidado quirúrgico para nuestros pacientes peludos. 
         Además, antes y después de cada procedimiento, brindamos un seguimiento cercano
         y cuidados postoperatorios para garantizar una pronta recuperación y bienestar para tu mascota.</p>
    
    <h2 id="examenes">Exámenes</h2>
    <p>Realizamos una variedad de exámenes diagnósticos para detectar y tratar problemas de salud.</p>

    <h2 id="laboratorio-clinico">Laboratorio Clínico</h2>
    <p>Contamos con un laboratorio clínico completo para análisis precisos y rápidos.</p>

    <h2 id="urgencias">Urgencias</h2>
    <p>Atendemos urgencias las 24 horas del día para cualquier situación crítica que pueda surgir.</p>

    <h2 id="peluqueria">Peluquería</h2>
    <p>Brindamos servicios de peluquería y cuidado estético para mantener a tu mascota siempre bella.</p>
</div>



<app-footer></app-footer>