<app-header></app-header>

<div id="linea"></div>


<div class="servicios">
    <h2 id="cirugias">Cirugías</h2>
    <p>Ofrecemos cirugías generales y especializadas para el cuidado óptimo de tu mascota.</p>
    
    <h2 id="examenes">Exámenes</h2>
    <p>Realizamos una variedad de exámenes diagnósticos para detectar y tratar problemas de salud.</p>

    <h2 id="laboratorio-clinico">Laboratorio Clínico</h2>
    <p>Contamos con un laboratorio clínico completo para análisis precisos y rápidos.</p>

    <h2 id="urgencias">Urgencias</h2>
    <p>Atendemos urgencias las 24 horas del día para cualquier situación crítica que pueda surgir.</p>

    <h2 id="peluqueria">Peluquería</h2>
    <p>Brindamos servicios de peluquería y cuidado estético para mantener a tu mascota siempre bella.</p>
</div>



<app-footer></app-footer>