<!-- footer.component.html -->
<footer class="footer">
    <div>
        <ul class="lista-footer">
            <li><a href="">Aviso legal</a></li>
            <li><a href="">Política de Privacidad</a></li>
            <li><a href="">Política de Cookies</a></li>
            <li><a href="">Política de Calidad</a></li>
        </ul>
    </div>

    <div class="comunicacion">
        <div>
            <a href="#top" class="scroll-to-top"><img src="../assets/img/logo.png" alt="logo" class="logo2"></a>
        </div>

        <div class="redes">
            <a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a>
            <a href="https://www.github.com/"><i class="fa-brands fa-github"></i></a>
            <a href="https://www.twitter.com/"><i class="fa-brands fa-facebook-f"></i></a>
            <a href="https://www.facebook.com/"><i class="fa-brands fa-x-twitter"></i></a>
        </div>
    </div>

    <div>
        <ul class="lista-footer">
            <li><a href="">KittyClinic</a></li>
            <li><a href="">Blog</a></li>
            <li><a href="">Contacto</a></li>
            <li><a href="">Preguntas Frecuentes</a></li>
        </ul>
    </div>
</footer>
<div class="copyright">
    <p><strong>© 2024 Universidad Javeriana. Todos los derechos reservados.</strong></p>
</div>