<app-header></app-header>

<div id="linea"></div>

<br><br><br>


<button><a [routerLink]="['/veterinario/crear-tratamiento', gato.id]">Crear Tratamiento</a></button>


<section id="historial" class="infogatuna">
    <div class="part1">
        <!-- Nuevo contenedor para datos-gato y foto-gato -->
        <h2>{{gato.nombre}}</h2>
        <div class="contenedor-gatos">
            <div class="obersaciones-gato"> 
                <h3 class="h3-obser">Tratamientos</h3>
                <ul>
                    <li *ngFor="let nombreDroga of nombresDrogas">
                      {{ nombreDroga }}
                    </li>
                  </ul>
            </div>
            <div class="foto-gato">
                <img class="gatos" [src]="gato.foto" alt="">
            </div>
            <div class=" datos-gato">
                <h3 class="h3-obser">Caracteristicas</h3> <p class="raza">Su raza es :{{gato.raza}}</p><p class="raza">Tiene la enfermedad de :</p>
                <p>{{gato.enfermedad}}</p>
              

            </div>

        </div>
        <!-- contenedor edad-gato se mantiene aquí -->
        <div class="edad-gato">
            <h3 class="h3-obser">Edad</h3> <p>{{gato.edad}}</p>
            <p><strong>Última cita: </strong> <span>Fecha de Ultimo Tratamiento</span></p>
        </div>
    </div>
 
</section>
