<app-header></app-header>

<div id="linea"></div>
<br>



<h1 class="titulo">Lista de Pacientes</h1>

<div class="tabla-pacientes">
    <table>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Edad</th>
                <th>Raza</th>
                <th>Foto</th>
                <th>Info</th>
                <th>Actualizar</th>
                <th>Cambiar Estado</th>
                <th>Estado</th>
            </tr>
        </thead>
        <tbody>
            <ng-container *ngFor="let gato of ListaGatos">
            <tr>
                <td>{{gato.nombre}}</td>
                <td>{{gato.edad}}</td>
                <td>{{gato.raza}}</td>
                <td><img class="gatos" [src]="gato.foto" alt=""></td> 
                <td><a [routerLink]="['/info',gato.id]" class="info"><img src="/assets/img/informacion.png" alt=""></a></td>
                <td><a [routerLink]="['/modificar-gato',gato.id]" class="btn btn-info"><img src="/assets/img/editar.png" alt=""></a></td>
                <td><button (click)="CambiarEstado(gato)"> CambiarEstado</button></td>
          
                <td>{{gato.estado}}</td>
            </tr>
            </ng-container>
            
        </tbody>
        
    </table>
</div>

<div class="sidebar"  #sidebar (mouseleave)="ocultarSidebar()">
    <div class="profile">
        <img src="/assets/img/fotodelveterinario.jpg" alt="Foto del Veterinario">
        <h3>Nombre del Veterinario</h3>
    </div>
    <ul>
        <div class="botonesvi">
            <li><a [routerLink]="['/crear-gato']" type="button" class="btn btn-primary"><span><p>Agregar felino</p> <img src="/assets/img/agregarfelino.png" alt="agregar felino"></span></a></li>
        
        <li><a type="button" class="btn btn-primary" th:href="@{/muestra/add}"><span><p>Ver tratamientos</p> <img src="/assets/img/tratamientos.png" alt="tramamiento"></span></a></li>
        </div>
       
    </ul>
</div>
<div class="vineta" #vineta (mouseenter)="mostrarSidebar()" (transitionend)="mostrarVineta()">
    <i class="fa-solid fa-shield-cat"></i>
</div>
    