<p>dashboard works!</p>

<div class="principal">
    <div class="categoria">

        <div class="estadisticas">

            <div class="card stats">
                
                <div class="icono">

                    <div class="dato veterinarioDat">
                        <i> {{ cantiVetiActi }}</i>
                    </div>

                    <div class="dato veterinarioDat">
                        <i> {{ cantiVetiInacti }}</i>
                    </div>

                    <div class="dato veterinarioDat">
                        <i> {{ cantiMascoActi }}</i>
                    </div>

                    <div class="dato veterinarioDat">
                        <i> {{ cantiMascoTotal }}</i>
                    </div>

                    <div class="dato veterinarioDat">
                        <i> {{ ventasTot }}</i>
                    </div>

                    <div class="dato veterinarioDat">
                        <i> {{ ganancias }}</i>
                    </div>
                </div>

                <div class="card-body">
                    <h3>Veterinarios Activos</h3>
                </div>

            </div>

        </div>

    </div>

</div>  