
  /*comportamiento de todas las cajas*/
.cajas {
    display: flex;
    flex-direction: row; /* Hace que los elementos se coloquen en columna */
    gap: 15px; /* Espacio entre las cajas */
    justify-content: center;
    caret-color: transparent;
}


.caja1:hover{
    cursor: pointer;
    box-shadow: 0 0 10px 5px rgba(192, 121, 121, 0.7);
}
.caja2:hover{
    cursor: pointer;
    box-shadow: 0 0 10px 5px rgba(121, 192, 134, 0.7);
}
.caja3:hover{
    cursor: pointer;
    box-shadow: 0 0 10px 5px rgba(187, 192, 121, 0.7);
}
.caja4:hover{
    cursor: pointer;
    box-shadow: 0 0 10px 5px rgba(121, 151, 192, 0.7);
}
.caja5:hover{
    cursor: pointer;
    box-shadow: 0 0 10px 5px rgba(159, 192, 121, 0.7);
}
.caja6:hover{
    cursor: pointer;
    box-shadow: 0 0 10px 5px rgba(192, 161, 121, 0.7);
}

/*cajas*/
.caja1 {
    position: relative;
    display: flex; /* Utiliza flexbox para centrar el contenido */
    align-items: center; /* Centra verticalmente el contenido */
    justify-content: left; /* Centra horizontalmente el contenido */
    width: 230px;
    height: 160px;
    background-color: rgb(225, 80, 80); /* Solo para visualización */
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
  

.caja2 {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: left;
    width: 230px;
    height: 160px;  
    background-color: rgb(80, 225, 119);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.caja3 {
    position: relative; /* Establece la posición relativa para que los elementos absolutos se posicionen con respecto a esta caja */
    display: flex;
    align-items: center;
    justify-content: left;
    width: 230px;
    height: 160px;
    background-color: rgb(225, 220, 80); /* Solo para visualización */
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

  
.caja4 {
    position: relative; /* Establece la posición relativa para que los elementos absolutos se posicionen con respecto a esta caja */
    display: flex;
    align-items: center;
    justify-content: left;
    width: 230px;
    height: 160px;
    background-color: rgb(82, 80, 225); /* Solo para visualización */
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.caja5 {
    position: relative; /* Establece la posición relativa para que los elementos absolutos se posicionen con respecto a esta caja */
    display: flex;
    align-items: center;
    justify-content: left;
    width: 230px;
    height: 160px;
    background-color: rgb(152, 225, 80); /* Solo para visualización */
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

  
.caja6 {
    position: relative; /* Establece la posición relativa para que los elementos absolutos se posicionen con respecto a esta caja */
    display: flex;
    align-items: center;
    justify-content: left;
    width: 230px;
    height: 160px;
    background-color: rgb(225, 136, 80); /* Solo para visualización */
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
  
  
.fondo {
    position: absolute; /* Establece la posición absoluta */
    bottom: 0; /* Se posiciona en la parte inferior de la caja */
    left: 0; /* Se posiciona en la esquina izquierda de la caja */
    width: 100%; /* Ocupa todo el ancho de la caja */
    background-color: rgba(0, 0, 0, 0.5); /* Color de fondo semi-transparente */
    color: white; /* Color del texto */
    text-align: center; /* Centra el texto horizontalmente */
}

.fondocont{
    margin: auto;
    padding: 10px;
}

/*Para la caja 1*/
.contenido{
    font-size: 50px;
    color: white;
    margin: auto;
}

.contenido1{
    font-size: 30px;
    color: white;
}

.cont{
    font-size: 15px;
    color: white;
}
