
.header{
    font-family: "Protest Riot", sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 30px;
    display: flex;
    justify-content: space-between;
    height: 100px;
    padding: 12px;
    caret-color: transparent;
}


#linea{
    border-top: 3px solid #104c5a;
}

.fa-user:hover {
    animation: colorChange 1s infinite alternate;
}

@keyframes colorChange {
    from {
        color: #000; /* Color inicial */
    }
    to {
        color: #e98726; /* Nuevo color */
    }
}


.lista {
  display: none;
  list-style: none;
  padding-right: 30px;
  padding-left: 30px;
  padding-top: 50px;
  padding-bottom: 8px;
  background-color: #4fa9ba;
  position: absolute;
  z-index: 999;
  font-size: 16px;
}

.opciones{
    display: flex;
    flex-direction: column;
    align-items: center;
}


#lista1 a{
    font-weight: 120;
    color: white;
}

#lista1 a:hover{
    font-weight: 600;
    color: #104b58;
}

#lista2 a{
    font-weight: 120;
    color: #104b58;
}

#lista2 a:hover{
    color: aqua;
}


.lista li {
    margin-bottom: 10px; /* Ajusta el espacio entre elementos aumentando o disminuyendo el valor de margin-bottom */
  }  


.lista {
    transition: opacity 0.3s ease;
    opacity: 0; /* La lista comienza invisible */
  }
  
/* Mostrar la lista cuando se hace hover 
en la opción */
.opciones:hover .lista{
    display: block;
    opacity: 1; /* La lista se vuelve visible */
}
.inicio{
    background-color: #4fa9ba;
}

.nav{
    display: flex;
    gap: 70px;
    align-items: center;
}

.nav a{
    text-decoration: none;
    color: aliceblue;
    font-weight: 600;
    z-index: 1000;
}

.nav a:hover{
    color: #104a5a;
}

.nav i{
    color: white;
}

.nav i:hover{
    color: black;
}

.contenedor{
    max-width: 1300px;
    width: 95%;
    margin: 0 auto;
}

.logo{
    width: 160px;
    height: 100px;
}

/* ------------------------------------------------------------------------------------------*/
