<div class="contenedor">
    <div class="cajaPrincipal">

        <div class="cajaFondo">
           
        </div>


  

        
        <div class="login">

            <div class="login__container">
                <img src="../assets/img/logo.png" alt="Gato logo" class="logo">
                <h1>Inicio</h1>
               
                <p></p>
                <div class="formdesign">


                    <form name="form" action="/cliente/registro" method="post">
                        <div class="login_container_input">

                            <i class="fas fa-user"></i>
                            <input class="campo-correo" [(ngModel)]="cedula" type="number" name="username" id="username" placeholder="Correo Electrónico" required>
                            <input type="text" class="campo-contrasena" [(ngModel)]="password" name="password" id="password"  placeholder="Contraseña" required>

                        </div>
                        <button type="submit" class="login_container_button" >Iniciar sesión</button>
                    </form>
                </div>
                <br>
                <br>
                <p class="frase1">Eres un Usuario? puedes iniciar sesión haciendo click </p> <p class="frase2" [routerLink]="['/login']">aquí</p>
               
            </div>
        </div>

    </div>
</div>