<app-header></app-header>
<br><br><br>
<img class="gatotier2" src="https://media-public.canva.com/XwNS0/MAE2hoXwNS0/1/s.png" alt="gato2">
<img class="pelota" src="https://media-public.canva.com/3cOTo/MAFjDf3cOTo/1/tl.png" alt="pelota">
<div class="contenedor-modificar">

    <form [formGroup]="gatoForm" (ngSubmit)="onSubmit()">
        <div>
            <label for="nombre">Nombre:</label>
            <input formControlName="nombre" id="nombre" type="text">
        </div>
        <div>
            <label for="raza">Raza:</label>
            <input formControlName="raza" id="raza" type="text">
        </div>
        <div>
            <label for="edad">Edad:</label>
            <input formControlName="edad" id="edad" type="number">
        </div>
        <div>
            <label for="foto">Imagen:</label>
            <input formControlName="foto" id="foto" type="text">
        </div>
        <div>
            <label for="estado">Estado:</label>
            <input formControlName="estado" id="estado" type="text">

        </div>
        <div> <button type="submit" class="send">Enviar</button> </div>
    </form>
</div>