<app-header></app-header>


<div id="linea"></div>

<br>

<h1>Bienvendio a KittyClinic</h1>
<br>
<h3>Amor, cuidado y atención personalizada en KittyClinic. La veterinaria de tus peluditos.</h3>


<br>
<div class="principal">
    <div class="mitad1">

        
        <h2>Formulario de contácto</h2>
        <br>
        <div class="form-container">
            <form>
                <div class="form-group">
                    <label for="first-name">First Name<span>*</span></label>
                    <input type="text" id="first-name" name="first-name" required>
                </div>
                <div class="form-group">
                    <label for="email">Email<span>*</span></label>
                    <input type="email" id="email" name="email" required>
                </div>
                <div class="form-group">
                    <label for="message">Message<span>*</span></label>
                    <textarea id="message" name="message" required></textarea>
                </div>
            </form>
        </div>
        <br>
    </div>

    <div class="mitad2">
        <br>
        <img src="../assets/img/contacto.png" alt="Contacto" class="contac">
        <br><br><br>
        <img src="../assets/img/gatofeli.png" alt="Gato feli" class="gatofeliz">
    </div>
</div>


<div class="mapa">
    <iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d15907.293426219576!2d-74.0647709!3d4.6255838!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses-419!2sco!4v1715358925890!5m2!1ses-419!2sco" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
    </iframe>
</div>


<app-footer></app-footer>