<app-header></app-header>

<div id="linea"></div>
    
<div class="sidebar-right">
    <div class="handle">&#9776;</div> 
    <div class="usuario-info">
        <!-- <img src="/img/usuariodecoracion.png" alt="icono usuario">
        <h2 {{usuario.nombre}}></h2>
        <p {{usuario.genero}}></p>
        <p {{usuario.edad}}></p>
        <p {{usuario.cedula}}></p>
        <p {{usuario.correo}}></p> -->
      
    </div>
</div>



<div class="tabla-contenedor">
    <table>
        <thead>
            <tr>
                <th>Foto</th>
                <th>Nombre</th>
                <th>Raza</th>
                <th>Edad</th>
                <th>Enfermedad</th>
            </tr>   
        </thead>
        <tbody>
            <tr *ngFor="let mascota of listaMascotas">
                <td><img [src]="mascota.foto" alt="Foto de {{ mascota.nombre }}"></td>
                <td>{{ mascota.nombre }}</td>
                <td>{{ mascota.raza }}</td>
                <td>{{ mascota.edad }}</td>
                <td>{{ mascota.enfermedad }}</td>
            </tr>
        </tbody>
    </table>
</div>


<div id="infoGatoContenedor1">
    <h2 id="nombreGato"></h2>
        
<div id="fondoOscuro"></div>