<app-header></app-header>

<div id="linea"></div>
    
<div class="sidebar-right">
    <div class="handle">&#9776;</div> 
    <div class="usuario-info">
        <!-- <img src="/img/usuariodecoracion.png" alt="icono usuario">
        <h2 {{usuario.nombre}}></h2>
        <p {{usuario.genero}}></p>
        <p {{usuario.edad}}></p>
        <p {{usuario.cedula}}></p>
        <p {{usuario.correo}}></p> -->
      
    </div>
</div>


<div class="tabla-contenedor">
    <table>
        <thead>
            <tr>
                <th>Foto</th>
                <th>Nombre</th>
                <th>Raza</th>
                <th>Edad</th>
            </tr>   
        </thead>
        <tbody>
            <tr *ngFor="let mascota of listaMascotas">
                <td><img [src]="mascota.foto" alt="Foto de {{ mascota.nombre }}"></td>
                <td>{{ mascota.nombre }}</td>
                <td>{{ mascota.raza }}</td>
                <td>{{ mascota.edad }}</td>
            </tr>
        </tbody>
    </table>
</div>


<div id="infoGatoContenedor1">
    <h2 id="nombreGato"></h2>


    <div class="contenido-horizontal"> 
        
        <div class="Historial-gatuno">
            <h3>Historial</h3>
            <ul>
                <li>Servicio: Urgencias</li>
                <li>Servicio: Exámenes</li>
                <li>Servicio: Laboratorio</li>
                <li>Servicio: Peluqueria</li>
            </ul>
        </div>
        <div class="foto-contenedor">  <img id="fotoGato" src="" alt="Foto del gato"></div>
        <div class="flechas">
            <button id="anteriorGato" class="icon-button"><i class="fas fa-chevron-up"></i></button>
            <button id="siguienteGato" class="icon-button"><i class="fas fa-chevron-down"></i></button>
        </div>
    
    </div>
        
    <div class="info-adicional">  
        <p id="edadGato"></p>
        <p  id="ultimaCita">Última Cita: 29/02/2024</p>
    </div>
     
        
<!-- Botón para Cerrar -->
    <button id="cerrarInfo" class="icon-button"><i class="fas fa-times"></i></button>
</div>


<div id="fondoOscuro"></div>